/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: lightgray;
	font-family: sans-serif;
}

/* Column Section */
.col-whole {
    width: 100%;
}

.col-three-fourth {
    width: 75%;
}

.col-two-third {
    width: 66.66%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.col-fourth {
    width: 25%;
}

.col-fifth {
    width: 20%;
}

.col-sixth {
    width: 16.67%;
}

.col-seventh {
    width: 14.285%;
}

.col-eighth {
    width: 12.5%;
}

.col-ninth {
    width: 11.11%;
}

.col-tenth {
    width: 10%;
}

.col-eleventh {
    width: 9.0909%;
}

.col-twelfth {
    width: 8.3333%;
}
/* Column Section End */

/* Nav Section */

#regular a{
    position: relative;
    color: lightgray;
    text-decoration: none;
}
#regular a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 17px;
    bottom: 1px;
    left: 0;
    background-color: lightgray;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#regular a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.name {
    position: fixed;
    color: lightgray;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 19px;
    margin-top: 8px;
}

#inline {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: gray;
    z-index: 5;
}

#inline nav {
    position: fixed;
    right: 1%;
    margin-top: 18px;
}

#inline nav a {
    color: lightgray;
    text-decoration: none;
    padding: 0 12px;
    font-family: sans-serif;
	font-size: 1em;
}

h1 {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    color: lightgray;
    padding-top: 100px;
    padding-bottom: 110px;
}

h1 span {
    display: inline-block;
    border-bottom: 5px solid lightgray;;
    padding-bottom: 8px;
}

#hamburger-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightgray;;
    transition: 0.5s;
    padding-top: 10px;
    float: right;
}

#hamburger p {
    display: none;
}

#hamburger a {
    padding-top: 20px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    transition: 0.3s;
    color: black;
}
#hamburger a:hover {
    color: lightgray;
}

#hamburger-name {
    display: none;
}

/* Nav Section End */

/* Content */

#home {
	padding-top: 80px;
}

.content {

	height: auto;
	padding-bottom: 50px;
}

img {
	height: 100%;
	width: 90%;
	margin-left: 8%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	transition: box-shadow .3s ease-out;
}

img:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: box-shadow .3s ease-in; 
}

.content-box { 
	width: 80%;
	display: flex;
	margin-top: 30px;
	margin-left: 8%;
}

.content-box .col-two-third {
	background-color: darkgray;
	font-size: 1.2em;
	padding: 10px;
	line-height: 1.1em;
}

/* Content Section End */

/* Footer */

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
  
.Site-content {
	flex: 1;
}

footer {
	background-color: gray;
	height: 50px;
	text-align: center;
	width: 100%;
	font-family: sans-serif;
	color: darkgray;
	line-height: 1.1em;
}

footer div p {
	transform: translateY(50%);
}

footer a {
	color: darkgray;
}
/* Footer End */


@media (max-width: 375px) {

	/* Nav Section */

	#inline {
		display: none;
	}

	.name {
		font-size: 1.3em;
		margin-left: 10px;
		position: fixed;
		color: black;
	}
	
	#hamburger {
		display: block;
		z-index: 2;
		height: 50px;
		background-color: gray;
		position: fixed;
		height: 50px;
		width: 100%;
		top: 0px;
	}

	#hamburger-nav {
		display: block;
		z-index: 4;
	}

	i {
		position: fixed;
	}

	.hamburger-icon {
		z-index: 5;
		color: lightgray;
		position: fixed;
		right: 4%;
		top: 9px;
	}

	h1 {
		font-size: 2em;
		font-family: sans-serif;
		font-weight: bolder;
		text-align: center;
		color: lightgray;
		padding-top: 150px;
		padding-bottom: 60px;
	}
	
	h1 span {
		display: inline-block;
		border-bottom: 5px solid lightgray;
		padding-bottom: 8px;
	}

	#hamburger-name {
		position: fixed;
		z-index: 3;
		display: block;
		color: lightgray;
		font-size: 2em;
		font-weight: bold;
		font-family: sans-serif;
		padding-left: 13px;
		transform: translateY(7px);
	}

	/* Nav Section End */

	#home {
		padding-top: 100px;
	}

	.col-third {
		width: 100%;
	}

	.col-two-third {
		width: 100%;
	}
	.content-box {
		flex-direction: column;
	}

	.col-third img {
		padding-bottom: 30px;
	}

}
