/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: lightgray;
	font-family: sans-serif;
}

/* Column Section */

.col-whole {
    width: 100%;
}

.col-three-fourth {
    width: 75%;
}

.col-two-third {
    width: 66.66%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.col-fourth {
    width: 25%;
}

.col-fifth {
    width: 20%;
}

.col-sixth {
    width: 16.67%;
}

.col-seventh {
    width: 14.285%;
}

.col-eighth {
    width: 12.5%;
}

.col-ninth {
    width: 11.11%;
}

.col-tenth {
    width: 10%;
}

.col-eleventh {
    width: 9.0909%;
}

.col-twelfth {
    width: 8.3333%;
}

/* Column Section End */

/* Span Section */

.span2 { grid-column: auto / span 2;}
.span3 { grid-column: auto / span 3;}
.span4 { grid-column: auto / span 4;}
.span5 { grid-column: auto / span 5;}
.span6 { grid-column: auto / span 6;}
.span7 { grid-column: auto / span 7;}
.span8 { grid-column: auto / span 8;}
.span9 { grid-column: auto / span 9;}
.span10 { grid-column: auto / span 10;}
.span11 { grid-column: auto / span 11;}
.span12 { grid-column: auto / span 12;}

/* Span Section End */

/* Nav Section */

#regular a{
    position: relative;
    color: lightgray;
    text-decoration: none;
}
#regular a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 17px;
    bottom: 1px;
    left: 0;
    background-color: lightgray;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#regular a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.name {
    position: fixed;
    color: lightgray;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 19px;
    margin-top: 8px;
}

#inline {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: gray;
    z-index: 5;
}

#inline nav {
    position: fixed;
    right: 1%;
    margin-top: 18px;
}

#inline nav a {
    color: lightgray;
    text-decoration: none;
    padding: 0 12px;
    font-family: sans-serif;
	font-size: 1em;
}

h1 {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    color: lightgray;
    padding-top: 100px;
    padding-bottom: 110px;
}

h1 span {
    display: inline-block;
    border-bottom: 5px solid lightgray;;
    padding-bottom: 8px;
}

#hamburger-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightgray;;
    transition: 0.5s;
    padding-top: 10px;
    float: right;
}

#hamburger p {
    display: none;
}

#hamburger a {
    padding-top: 20px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    transition: 0.3s;
    color: black;
}
#hamburger a:hover {
    color: lightgray;
}

#hamburger-name {
    display: none;
}

/* Nav Section End */

/* Content Section */

#schedule3 {
	margin-top: 80px;
}

#days {
	width: 80%;
	margin-left: 10%;
}

#responsive-days {
	width: 80%;
	margin-left: 10%;
	display: none;
}

#schedule {
	margin-top: 20px;
	background-color: darkgray;
	width: 72%;
	margin-left: 14%;
	height: 707px;
	margin-bottom: 50px;
}

#cards-content {
	background-color: darkgray;
	margin-top: 25px;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-bottom: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding {
	width: 98%;
	margin-left: 1%;
}

.wrapper {
	width: 90%;
	height: auto;
	margin-left: 5%;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
}

.col {
	background-color: gray;
	text-align: center;
	height: 45px;
	transition: .5s;
}

.col div:hover {
	cursor: pointer;
}

.col:hover {
	background-color: rgb(165, 165, 165);
	transition: .5s
}

.time-col {
	height: 45px;
}

#activity-wrapper {
	width: 100%;
	height: auto;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 8px;
}

.activity-col {
	border-style: dashed;
	border-color: black;
	border-width: 1px;
	text-align: center;
	height: 45px;
}

.center-text {
	position: relative;
	top: 13px;
}

#button {
	width: 10%;
	margin-left: 45%;
	height: 50px;
	margin-bottom: 30px;
}

/* Content Section End */

/* Pop Up Window */

.pop-Up {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 25px;
	padding-bottom: 25px;
	top: 15%;
	left: 25%;
	width: 50%;
	height: auto;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0);
}

.pop-Up-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	width: 85%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown {
	margin-left: 16px;
	padding-bottom: 15px;
	position: fixed;
	z-index: 2;
}

.span {
	margin-left: 14px;
}

#endTime {
	margin-left: 80px;
	margin-top: -15px;
}

#end {
	margin-left: 15%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
	font-weight: bold;
	padding: 0 15px;
	line-height: 1.5em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
	cursor: pointer;
}

.close:hover {
	background-color: lightgrey;
	transition: .5s;
}

#submit {
	margin-top: 5%;
	width: 20%;
	margin-left: 40%;
	height: 50px;
	margin-bottom: 30px;
}

/* End Pop Up Window */

/* Form */

#eventName {
	/*line-height: 3em;*/
	font-size: 2em;
	margin-left: 13px;
}

#daysOfWeek {
	margin-top: 15px;
	margin-left: 13px;
}

#daysOfWeek p {
	margin-bottom: 10px;
}

#boxes {
	width: 100%;
}

#responsive-boxes {
	width: 100%;
	display: none;
}

#boxes input {
	margin-right: 9px;
}

#colorChoice {
	margin-top: 30px;
	margin-left: 14px;
}

#colorChoice input {
	margin-left: 0px;
}

#description {
	margin-left: 14px;
	margin-top: 5%;
}

textarea {
	width: 95%;
	height: 200px;
}

/* Form */

/* Footer */

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
  
.Site-content {
	flex: 1;
}

footer {
	background-color: gray;
	height: 50px;
	text-align: center;
	width: 100%;
	font-family: sans-serif;
	color: darkgray;
	line-height: 1.1em;
}

footer div p {
	transform: translateY(50%);
}

footer a {
	color: darkgray;
}
/* Footer End */

@media (max-width: 375px) 
{
	/* Nav Section */

	#inline {
		display: none;
	}

	.name {
		font-size: 1.3em;
		margin-left: 10px;
		position: fixed;
		color: black;
	}
	
	#hamburger {
		display: block;
		z-index: 2;
		height: 50px;
		background-color: gray;
		position: fixed;
		height: 50px;
		width: 100%;
		top: 0px;
	}

	#hamburger-nav {
		display: block;
		z-index: 4;
	}

	i {
		position: fixed;
	}

	.hamburger-icon {
		z-index: 5;
		color: lightgray;
		position: fixed;
		right: 4%;
		top: 9px;
	}

	h1 {
		font-size: 2em;
		font-family: sans-serif;
		font-weight: bolder;
		text-align: center;
		color: lightgray;
		padding-top: 150px;
		padding-bottom: 60px;
	}
	
	h1 span {
		display: inline-block;
		border-bottom: 5px solid lightgray;
		padding-bottom: 8px;
	}

	#hamburger-name {
		position: fixed;
		z-index: 3;
		display: block;
		color: lightgray;
		font-size: 2em;
		font-weight: bold;
		font-family: sans-serif;
		padding-left: 13px;
		transform: translateY(7px);
	}

	/* Nav Section End */

	#days {
		display: none;
	}

	#responsive-days {
		display: block;
	}

	.pop-Up {
		display: none;
		position: fixed;
		z-index: 2;
		padding-top: 25px;
		padding-bottom: 25px;
		top: 5%;
		left: 5%;
		width: 90%;
		height: auto;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0);
	}

	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		padding: 0 15px;
		line-height: 1.5em;
		margin-top: -7px;
		margin-right: -16px;
	}

	#startTime .dropdown
	{
		z-index: 5;
	}

	#endTime {
		margin-left: -44px;
		margin-top: 30px;
	}

	#eventName {
		font-size: 1em;
		margin-left: 13px;
	}
	
	#boxes {
		display: none;
	}
	
	#responsive-boxes {
		display: block;
	}

	.activity-col {
		font-size: .4em;
	}
}